@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
 body {
	 font-family: 'Open Sans', sans-serif;
	 overflow-x: hidden;
}
 h1 {
	 margin: 0;
	 font-size: 22px;
	 line-height: 1;
	 color: #423e37;
}
 img {
	width: 400px;
	height: auto;
 }
 .page {
	 width: 100vw;
	 height: 100vh;
	 min-height: 700px;
}
 .tabs-controls {
	 position: relative;
	 z-index: 10;
	 display: flex;
	 justify-content: center;
	 align-items: stretch;
	 width: 100%;
	 max-width: 800px;
	 margin: 0 auto;
	 box-sizing: border-box;
	 padding: 50px 0 100px;
	 list-style-type: none;
}
 .tabs-controls__link {
	 position: relative;
	 display: block;
	 padding: 16px 32px;
	 font-size: 20px;
	 font-weight: 700;
	 color: #423e37;
	 text-transform: uppercase;
	 text-decoration: none;
}
 .tabs-controls__link:after {
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 display: block;
	 width: 0;
	 height: 4px;
	 background-color: #423e37;
	 border-radius: 2px;
	 margin: auto;
	 content: '';
	 transition: width 0.4s;
}
 .tabs-controls__link--active:after {
	 width: 100%;
}
 .cards-container {
	 position: relative;
	 z-index: 1;
	 width: 500px;
	 height: calc(100vh - 205px);
	 margin: 0 auto;
}
 .card {
	 position: absolute;
	 top: -40px;
	 width: 500px;
	 height: 600px;
	 background-color: #edebd7;
	 border: 1px solid #423e37;
	 box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
	 box-sizing: border-box;
	 padding: 40px;
	 transition: transform 0.3s, opacity 0.2s;
	 flex-basis: 500px;
	 flex-grow: 0;
 	 flex-shrink: 0;
	 overflow-y: scroll;
}
 .card img {
	 width: 100%;
}
 .card.hidden {
	 z-index: 100;
	 background-color: #fff;
	 color: #fff;
	 opacity: 0;
	 transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}
 .card.hidden h1 {
	 color: #fff;
	 transition: color 0.5s;
}
.card.hidden p {
	color: #fff;
	transition: color 0.5s;
}
 .card.hidden:nth-of-type(1) {
	 transform: rotate(-30deg) translateX(101%) translateY(-30%) scale(0.4) skewX(11deg) skewY(10deg);
}
 .card.hidden:nth-of-type(2) {
	 transform: rotate(-79deg) translateX(101%) translateY(-22%) scale(0.6) skewX(3deg) skewY(1deg);
}
 .card.hidden:nth-of-type(3) {
	 transform: rotate(-46deg) translateX(101%) translateY(-30%) scale(0.2) skewX(7deg) skewY(5deg);
}
 .card.hidden:nth-of-type(4) {
	 transform: rotate(-91deg) translateX(101%) translateY(-17%) scale(0.2) skewX(4deg) skewY(11deg);
}
 .card.hidden:nth-of-type(5) {
	 transform: rotate(-81deg) translateX(101%) translateY(-29%) scale(0.2) skewX(8deg) skewY(3deg);
}
 .card.hidden:nth-of-type(6) {
	 transform: rotate(-49deg) translateX(101%) translateY(-28%) scale(0.2) skewX(7deg) skewY(9deg);
}
 .card:nth-of-type(1) {
	 z-index: 5;
	 transform: translateX(0px) translateY(0px);
}
 .card:nth-of-type(2) {
	 z-index: 4;
	 transform: translateX(10px) translateY(10px);
}
 .card:nth-of-type(3) {
	 z-index: 3;
	 transform: translateX(20px) translateY(20px);
}
 .card:nth-of-type(4) {
	 z-index: 2;
	 transform: translateX(30px) translateY(30px);
}
 .card:nth-of-type(5) {
	 z-index: 1;
	 transform: translateX(40px) translateY(40px);
}
 .card:nth-of-type(6) {
	 z-index: 0;
	 transform: translateX(50px) translateY(50px);
}
 li:not(:last-child) {
    margin-bottom: 20px;
}
 #gen_images_picker {
	margin-right: 10px;
 }
 .sendSelectedPairs {
	width: 40%;
 }
 .start-button {
	appearance: none;
	background-color: #06b;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin-top: 5px;
	margin-left: 120px;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 40%;
	will-change: transform;
}
.start-button:disabled {
  pointer-events: none;
}
.start-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.start-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.progress {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: auto;
    color: black;
    background-color: #edebd7;
    margin-top: 25px;
    font-size: small;
}
a.redirectButton {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	display: none;
	text-decoration: none;
	background-color: #06b;
	color: white;
	appearance: none;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	cursor: pointer;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	margin-left: 120px;
	line-height: normal;
	min-height: 30px;
	min-width: 0;
	outline: none;
	text-align: center;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 40%;
	will-change: transform;
}
.alert {
	width: 100%;
	padding: 12px 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 12px;
	font-size: 16px;
	display: none;
  }
  .alert.alert-success {
	background-color: rgba(227, 253, 235, 1);
	border-color: rgba(38, 179, 3, 1);
	color: rgba(60, 118, 61, 1);
  }
  
  .alert.alert-info {
	background-color: rgba(217, 237, 247, 1);
	color: rgba(49, 112, 143, 1);
	border-color: rgba(126, 182, 193, 1);
  }