<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Data Analysis</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='showpage.css') }}">
    <section class="page">
        <section>
            <ul class="tabs-controls">
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link tabs-controls__link--active" data-id="1">
                        Fact 1
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" onclick="" class="tabs-controls__link" data-id="2">
                        Fact 2
                </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="3">
                        Fact 3
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="4">
                        Fact 4
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="5">
                        Fact 5
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="6">
                        Fact 6
                    </a>
                </li>
            </ul>
        </section>
        <section class="cards-container">
            <div class="card card--current" id="1">
                <h1>Top Pairs (Name and Number of Occurance)</h1>
                <p>
                    {% for pair in top_pairs %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                </p>
            </div>
            <div class="card" id="2">
                <h1>Generated Top Pairs (from top keys and top values)</h1>
                <p>
                    {% for pair in generated_pairs %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                </p>
            </div>
            <div class="card" id="3">
                <h1>Rich Pairs (by sold price)</h1>
                <p>
                    {% for pair in rich_pairs %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                </p>
            </div>
            <div class="card" id="4">
                <h1>Most expensive images</h1>
                <p>
                    <ol>
                    {% for i, (img, info) in rich_images_with_info %}
                        <li><img src = "{{ url_for('dashboard.download_file', filename=img) }}" alt= "Image {{ i }}" title = "{{ info }}"/></li>
                    {% endfor %}
                    </ol>
                </p>
            </div>
        </section>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flycards.js') }}"></script>
</body>
</html>