<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block header %}User Login System{% endblock %}</title>
  {% block navigation %}
  <div class="topnav">
    <span>NFT-Finder</span>
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('dashboard.config_dashboard') }}">Constructor</a>
  </div>
  {% endblock %}

  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
  <!-- <link rel="stylesheet" href="/static/style.css"> -->
  

  {% block custom_css %}
  {% endblock %}

</head>
<body>

  {% block content %}
  {% endblock %}

  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 item text">
              <h3>NFT-Finder</h3>
              <p>The website serves to reveal trendy characteristics of NFT Images on the second largest market platform: https://rarible.com</p>
          </div>
          <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="https://www.linkedin.com/in/vladislav-stasenko-999910214/"><i class="icon ion-social-linkedin"></i></a><a href="https://www.instagram.com/vlados2500/"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">NFT-Finder © 2022</p>
        </div>
    </footer>
  </div>
  
  <!-- <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script> -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>