{% extends "base.html" %}

{% block header %}
    Data Insights
{% endblock %}

{% block navigation %}
  <div class="topnav">
    <span>NFT-Finder</span>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a class="active" href="{{ url_for('dashboard.config_dashboard') }}">Settings</a>
  </div>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='showpage.css') }}">
{% endblock %}
{% block content %}
    <section class="page">
        <div class="dshb_user_headings">
            <div class="alert alert-info" role="alert"></div> 
        </div>
        <section>
            <ul class="tabs-controls">
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link tabs-controls__link--active" data-id="1">
                        Fact 1
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" onclick="" class="tabs-controls__link" data-id="2">
                        Fact 2
                </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="3">
                        Fact 3
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="" class="tabs-controls__link" data-id="4">
                        Fact 4
                    </a>
                </li>
            </ul>
        </section>
        <section class="cards-container">
            <div class="card card--current" id="1">
                <h1>Top Pairs (Name and Number of Occurance)</h1>
                <p>
                    <ol>
                    {% for pair in top_pairs %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                    </ol>
                </p>
            </div>
            <div class="card" id="2">
                <h1>Generated Top Pairs (from top keys and top values)</h1>
                <form id="generation_form">
                    <p>
                        <ul style="list-style-type:none;">
                        {% for pair in generated_pairs %}
                            <li><input type="checkbox" id="gen_images_picker" name="selected_items" value="{{ pair }}">{{ pair }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                    <p class="error error--hidden"></p>
                    <button type="submit" class="start-button" id="sendSelectedPairs">Generate</button>
                    <div id="progress"></div>
                    <a href="{{ url_for('dashboard.download_picture') }}" id="redirectButton" class="redirectButton">Download</a> 
                </form>
            </div>
            <div class="card" id="3">
                <h1>Rich Pairs (by sold price)</h1>
                <p>
                    <ol>
                    {% for pair in rich_pairs %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                    </ol>
                </p>
            </div>
            <div class="card" id="4">
                <h1>Most expensive images</h1>
                <p>
                    <ol>
                    {% for i, (img, info) in rich_images_with_info %}
                        <li><img src = "{{ url_for('dashboard.download_file', filename=img) }}" alt= "Image {{ i }}" title = "{{ info }}"/></li>
                    {% endfor %}
                    </ol>
                </p>
            </div>
        </section>
    </section>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/flycards.js') }}"></script>
    <script src="{{ url_for('static', filename='js/process_bg_task.js') }}"></script>
    <script>
        $(function() {
            var flashMessageBox = document.getElementsByClassName('alert');
            flashMessageBox[0].innerText = "For image generation, please select any properties in the second tab!";
            flashMessageBox[0].style.display = "block";
        });
    </script>
    <script>
        $('#generation_form').submit(function () {
            get_checkbox_values();
            return false;   
        });
    </script>
    <script>
        function get_checkbox_values() {
            var array = [];
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            var flashMessageBox = document.getElementsByClassName('alert');
            for (var i = 0; i < checkboxes.length; i++) {
                array.push(checkboxes[i].value);
            }
            if (array.length > 0) {
                flashMessageBox[0].innerText = "Generation is being processed...";
                flashMessageBox[0].style.display = "block";
                start_long_task("/dashboard/picture_longtask", data=array);
            }
        }
    </script>
{% endblock %}