{% extends "base.html" %}
{% block header %}Home{% endblock %}

{% block content %}
<section class = "home-guide">
    <h1 style="text-align: center; margin-bottom: 50px;">NFT TrendFinder: your guide to the world of digital art.</h1>
    <h3 style="text-align: center;">Who are we and how we can help you?</h3>
    <ul>
        <li style="margin: 50px 0px 50px 600px; line-height: 200%; font-size: large; overflow-wrap: break-word">
            <p>
                We created algorithm that will give you access to the world of art by providing <br>
                up-to-date information about the most popular NFTs, artists and styles. <br>
                It will then provide you with a unique NFT generated based on this information.
            </p>
        </li>
        <li style="margin: 25px 0px 0px 600px; line-height: 200%; font-size: large; overflow-wrap: break-word">
            <p>
                NFT TrendFinder collects characteristics of the most expensive images <br>
                from the NFT marketplace - Rarible in text format, generate a dataset of text pairs <br>
                and passes them to the neural network - DALL-E, so that it produces new works of art. <br>
                Without extra time for market analysis and creating pictures.
            </p>
        </li>
    </ul>
</section>

{% endblock %}