# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo

# C extensions
*.so

# Cached files
.pytest_cache/

# Distribution / packaging
/celery_results/
/image_storage/images/
/mongodb/data/
/rabbitmq/mnesia/
/rabbitmq/.*cookie
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Pipfile
Pipfile.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
instance/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# csv files
*.csv

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
