<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Data Analysis</title>

  <script src="/static/flycards.js"></script>
</head>
<body>
    <link rel="stylesheet" href="/static/showpage.css">

    <section class="page">
        <section>
            <ul class="tabs-controls">
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link tabs-controls__link--active" data-id="1">
                        Tab A
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" onclick="" class="tabs-controls__link" data-id="2">
                        Tab B
                </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="3">
                        Tab C
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="4">
                        Tab D
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="5">
                        Tab E
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="6">
                        Tab F
                    </a>
                </li>
            </ul>
        </section>
        <section class="cards-container">
            <div class="card card--current" id="1">
                <h1>A. Lorem ipsum dolor sit amet</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div class="card" id="2">
                <h1>B. Elit, sed do eiusmod</h1>
                <p>
                    Elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div class="card" id="3">
                <h1>C. Consectetur adipisicing elit</h1>
                <p>
                    Consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div class="card" id="4">
                <h1>D. Sed do eiusmod</h1>
                <p>
                    Sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrcaecat cupidatat nonv proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="card" id="5">
                <h1>E. Ut enim ad minim veniam</h1>
                <p>
                    Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in vo cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="card" id="6">
                <h1>F. Labore et dolore magna aliqua</h1>
                <p>
                    Labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in volupest laborum.
                </p>
            </div>
        </section>
    </section>


</body>
</html>